/*main E -EAT*/
* {
    box-sizing: border-box;

}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: block;
}

html {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #efe8d8;
    height: 100px;
}

.clear {
    clear: both;
}

#wrapper {
    background-color: #fff;
    width: 100%;
    margin: auto;

}

div {
    padding: 0;
}

h1 {
    padding-left: 15px;
}

p {
    text-align: justify;
}

img {
    max-width: 100%;
}

main {
    float: none;

}

/**Logo**/
#logo {
    width: 10%;
    float: left;
    padding: 1px;
    height: 20px;
}

/**Nav**/
.responsive-menu {
    float: right;
    height: 100px;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    width: 840px;
    margin-top: 4%;
}

li {
    background-color: #efe8d8;
    width: 50%;
    margin-bottom: 20px;

}

header a {
    text-decoration: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    line-height: 60px;
    height: 60px;
    width: 200px;
    color: #b02923;
    font-weight: bold;
}

header a:hover {
    background-color: #b02923;
    color: #fff;
}

/**footer**/
#plan {
    line-height: 20px;
    float: left;
    text-transform: uppercase;
    font-weight: bold;
}

#plan a {
    text-decoration: none;
    color: #b02923;
}

footer {
    background-color: #efe8d8;
    height: 123px;
    padding: 10px;
    line-height: 50px;
}

#payement {
    width: 3%;
}

#insta {
    width: 3%;
    padding-top: 4px;
}

#fb {
    width: 3.5%;
}

#nav-rs {
    display: flex;
    justify-content: flex-end;

}

#payement-footer {
    display: flex;
    justify-content: flex-end;
    width: 150px;
    float: right;
    margin-right: -5px;
    height: 20px;
}

.payement {
    width: 100%;
    display: flex;
    align-items: center;
    color: #b02923;
}

#copyright {
    color: #b02923;
    height: 20px;
}

/** nous joindre**/
#nous-rejoindre {
    position: relative;
}

#nous-rejoindre div {
    line-height: 1.5;
    font-size: 140%;
    width: 540px;
    right: 50px;
    padding: 10px;
    position: absolute;
    top: 160px;
    background-color: rgba(175, 41, 34, 0.27);
    color: #b02923;
}

#nous-rejoindre h3 {
    text-transform: uppercase;
    text-align: center;
}

#nous-rejoindre button {
    border: none;
    background-color: #efe8d8;
    text-transform: capitalize;
    margin-left: 180px;
    color: #b02923;
}

/**application mobile**/
#pic-ios {
    width: 44%;
    position: absolute;
    top: 50%;
    left: 235%;
}

#application {
    position: relative;
    width: 500px;
    height: 580px;
}

#application p {
    position: absolute;
    width: 820px;
    font-size: 27px;
    top: 15%;
    left: 15%;
    color: #b02923;
}

#application h3 {
    position: absolute;
    font-size: 80px;
    margin-top: 0px;
    color: #deb4a7;
}

#pic-tab-tel {
    position: absolute;
    top: 11%;
    left: 50%;
}

#pic-android {
    position: absolute;
    width: 50%;
    top: 47%;
    left: 170%;
}

/**slogon**/
#div-flex {
    display: flex;
    flex-direction: column;
}

#slogon {
    height: 500px;

}

#slogon h3 {
    color: #fff;
    position: relative;
    bottom: 380px;
    left: 350px;
    font-size: 62px;
    width: 910px;
}

#nous-connaitre {
    margin: auto;
    padding-top: 150px;
    font-size: 25px;
    height: 580px;
    width: 800px;
    position: relative;
    color: rgba(175, 41, 34, 0.65);
}
#connaitre{
    border: none;
    background-color: #efe8d8;
    text-transform: capitalize;
    color: #b02923;
}
/*****************page items***********************/

#page-items h3 {
    color: #b02923;
    display: block;
    width: 180px;
}

img {
    width: 100%;
}

.half {
    margin: 5px;
    width: 30%;
    float: left;
}

.items {
    display: block;
    width: 80%;
    margin: auto;
}

/*** Acordeon styles ***/
.tab {
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    color: #b02923;
    overflow: hidden;
}

.input-cepage {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.lab-cepage {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #efe8d8;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    background: rgba(175, 41, 34, 0.27);
    transition: max-height .35s;

}

.tab-content p {
    margin: 1em;
}

/*** :checked ***/
.input-cepage:checked ~ .tab-content {
    max-height: 10em;
}

/*** Icon ***/
.tab .lab-cepage::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    transition: all .35s;
}

.input-cepage + .lab-cepage::after {
    content: "+";
}

.input-cepage:checked + .lab-cepage::after {
    transform: rotate(315deg);
}

/**items**/
#soda {
    height: 261px;
}

#cheesecake {
    height: 397px;
}

#couscous {
    height: 305px;
}

#vermicelles {
    height: 253px;
}

#tarte {
    height: 253px;
}

#poutine {
    height: 253px;
}

#terrine {
    height: 253px;
}

#soupe {
    height: 253px;
}

#cigart {
    height: 253px;
}

#cesar {
    height: 253px;
}

#content {
    width: 80%;
    margin: auto;
    background-color: rgba(175, 41, 34, 0.05);
    padding: 10px;
}

#miniqui {
    height: 253px;
}

#cake {
    height: 397px;
}

#mousse {
    height: 397px;
}

#content img {
    width: 456px;
    height: 253px;
    margin: auto;
}
.lab-cepage span{
    color:black ;
}
h2 {
    text-align: center;
    color: #b02923;
}

textarea {
    border: solid 1px #deb4a7;

}

input, select, input[type="radio"] {
    border: solid 1px #deb4a7;
    width: 250px;
}


.contacter {

    width: 150px;
    height: 150px;

}

.form-container {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 30px;
    border: solid 6px #b02923;
    margin-bottom: 80px;
}

.form-inline {
    
    border: solid #b02923;
}

.form-group {
    margin: 5px auto;
    padding: 5px;
}

.form-group label {
    /*padding: 1px;*/
    /* border:1px solid;*/
    width: 25%;
    min-width: 80px;
    display: inline-block;
    padding-right: 3px;
    text-align: right;
    float: left;
}

.form-group label[for^=lang]:not(:first-child), .form-group label[for^=role]:not(:first-child) {
    width: auto;
    min-width: inherit;
    text-align: left;
}

.envoyer {
    text-align: center;
    margin-top: 20px;

}

/* Classe pour les sections invalids du formulaire */
.invalid {
    border-radius: 5px;
    background-color: #fff6f8;
    border: 1px solid #b02923;
}

/* Classe pour les messages de validation */
.msg_validation {
    font-weight: bolder;
}

.form-group textarea {
    width: 70%;
    min-height: 3em;
    vertical-align: top;
}
